{% for song in song_list %}
  <tr>
    <td><img src='{{ song.album_cover_url }}' style="width: 100px;"/></td>
    <td>{{ song.rank }}</td>
    <td>{{ song.album_name }}</td>
    <td>{{ song.title }}</td>
    <td>{{ song.artist_name }}</td>
  </tr>
{% if forloop.last and page_obj.has_next %}
  <tr>
    <td colspan="5" class="text-center py-4">
      <button
        hx-get="{% url 'melon:song_list' %}?page={{ page_obj.next_page_number }}"
        hx-target="closest tr"
        hx-swap="outerHTML"
        hx-trigger="revealed"
        class="text-gray-600 italic"
      >
        로딩 중...
      </button>
    </td>
  </tr>
{% endif %}

{% endfor %}
