{% extends "base.html" %}

{% block content %}
    <h2 class="text-2xl font-semibold mb-2">Buttons 컴포넌트</h2>
    <div class="flex flex-row gap-2 p-1">
        <c-button>기본 버튼</c-button>
        <c-button class="bg-red-500 hover:bg-red-600 focus:ring-red-400">Red 버튼 #1</c-button>
        <c-button-red>Red 버튼 #2</c-button-red>
        <c-button-green>Green 버튼</c-button-green>
    </div>

    <h2 class="mt-8 text-2xl font-semibold mb-2">아이콘 컴포넌트</h2>
    <div class="flex flex-row gap-2 p-1">
        <c-icons.plane class="size-20 text-red-500" />
        <c-icons.plane class="size-20 text-gray-500 animate-bounce" stroke_width="10" />
        <c-icons.photo-album class="size-20 text-blue-500" />
    </div>

    <h2 class="mt-8 text-2xl font-semibold mb-2">카운터 컴포넌트</h2>
    <div class="flex flex-row gap-2 p-1">
        <c-counter id="counter-1" />
        <c-counter id="counter-2" initial=10 />
        <c-counter id="counter-3" initial=100 />
        <c-button onclick="
            htmx.trigger('#counter-1', 'increment');
            htmx.trigger('#counter-2', 'increment');
            htmx.trigger('#counter-3', 'increment');
        ">
        동시에 +1
        </c-button>
    </div>

    <h2 class="mt-8 text-2xl font-semibold mb-2">이미지 미리보기 컴포넌트</h2>
    <div class="flex flex-col p-1">
        <div id="image-preview" class="mt-2 flex flex-wrap gap-2 py-2"></div>
        <div class="flex items-center">
            <c-widgets.image-preview-file name="photos" multiple
                                          icon_class="w-6 h-6"
                                          preview_display_selector="#image-preview"/>
        </div>
    </div>
{% endblock %}
